<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
  <packageSources>
    <!--
	<add key="webview2-dom-local" value="C:\Projects\WebView2.DevTools.Dom.Source\WebView2.DevTools.Dom\bin\Release" />
	-->
  </packageSources>
</configuration>